body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: aqua;
    background-color: black;
}

nav{
    display: flex;
    flex-direction: row;
    font-size: large;
    background-color: wheat;
    color: black;
}